//((===  Typography  ===))//

.lead{
    font-size: $size-4;
    color: $grey-dark;
    font-weight: $weight-light;
}

.title{
    font-family: $family-headings;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .anchor{
       i{
        font-size: $size-3;
       }
    }
}

.pagetitle {
    font-family: $family-headings;
    color: $base;
    font-size: $size-4;
    margin-right: auto;
}

.button {
    text-decoration: none;
}

main a {
    text-decoration: underline;
    text-decoration-skip: ink;
}

.content h1, .content h2, .content h3, .content h4 {
    font-family: $family-headings;
}

p.text-muted {
    font-size: 85%;
}