{% if not pagetitle and menu is iterable %}
    {% set pagetitle = "" %}
    {% for filename, item in menu %}
        {% if filename|replace({'.md': '.html'}) == currentFile|replace({'.md': '.html'}) %}
            {% set pagetitle = item.label|striptags %}
        {% endif %}
    {% endfor %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partial-head-section.twig' %}
    <body>

        <div class="docs columns is-gapless is-desktop">
            <aside class="docs__sidebar">
                <div class="docs__sidebar--brand">
                    <div class="brand">
                        <a class="brand--text" href="{{ baseUrl }}/">
                            {{ title|default('The title') }}
                        </a>
                    </div>
                    <button class="button button-bars is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-bars"></i>
                        </span>
                    </button>
                    <button class="button button-search is-primary is-hidden-desktop">
                        <span class="icon">
                        <i class="fa fa-search"></i>
                        </span>
                    </button>
                </div>

                {% include 'partial-menu.twig' %}

                <div class="docs__sidebar--footer is-hidden-touch">
                    <p class="text-muted">
                        Generated with ease by: <br>
                        <a href="http://couscous.io" title="Markdown website generator">Couscous</a> |
                        <a href="https://github.com/bolt/Extension-docs-template" title="Bolt extension documentation template">Bolt template</a>.
                    </p>
                </div>
            </aside>
            <main class="docs__main">

                {% include 'partial-header.twig' %}

                <div class="docs__main--body">
                    <section id="content" class="content">
                        {{ content|raw }}
                    </section>
                </div>
            </main>
        </div>

{% include 'partial-assets.twig' %}

    </body>
</html>
