    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if pagetitle %}{{ pagetitle }} &raquo; {% endif %}{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    </head>